HARNESS_APP_PORT=18080
HARNESS_MYSQL_PORT=33306
HARNESS_DB_NAME=jobis_harness
HARNESS_DB_USERNAME=root
HARNESS_DB_PASSWORD=1234
HARNESS_REDIS_HOST=localhost
HARNESS_REDIS_PORT=36379
HARNESS_REDIS_PASSWORD=asdf
HARNESS_RABBITMQ_HOST=localhost
HARNESS_RABBITMQ_PORT=35672
HARNESS_RABBITMQ_USERNAME=guest
HARNESS_RABBITMQ_PASSWORD=guest
HARNESS_JWT_SECRET=harness-secret-key-please-change-if-needed
HARNESS_FCM_JSON={}
HARNESS_SLACK_URL=http://localhost:38080/slack/
HARNESS_SLACK_TOKEN=noop
HARNESS_API_ACCESS_KEY=harness-access-key
